name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential git python3-dev ffmpeg libsdl2-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libtinfo6 libncurses6 autoconf libtool pkg-config cmake

      - name: Install Buildozer and Cython
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.33 virtualenv

      - name: Build APK
        run: |
          # Adicionando as ferramentas ao PATH para o sistema achar o sdkmanager
          export PATH=$PATH:/usr/local/lib/android/sdk/tools/bin:/usr/local/lib/android/sdk/platform-tools:/usr/local/lib/android/sdk/cmdline-tools/latest/bin
          buildozer -v android debug
        env:
          APP_ANDROID_ACCEPT_SDK_LICENSE: "1"
          ANDROID_SDK_ROOT: "/usr/local/lib/android/sdk"
          ANDROID_NDK_ROOT: "/usr/local/lib/android/sdk/ndk/25.2.9519653"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
